
/********************* PROGRESS BAR *****************************/

@media (min-width: 1800px){
  #progress{
    left: 65px;
  }


/************************** HOME *****************************/
.sidebar-contact .nomades-prez{
    bottom: 28vh!important;
    left: -14vw!important;
}
.sidebar-recherche .recherche{
  right: -14vw!important;
}


  .home-rencontre-destination{
    margin-left:15%!important;
    margin-right: 15%!important;
    img{
      width: 80%;
      height:auto;
    }
  }

  .home-category-left img{
    width: 78%!important;
  }

  // .home-rencontre-destination img{
  //   width: 90%!important;
  // }

  .home-category-retrospective{
    margin-left:15%!important;
    margin-right: 15%!important;
    .the-title{
      width: 70%;
    }
    .excerpt-article{
      width: 40%!important;
    }
  }



  .category-studio{
    .studio-left{
      img{
        width: 95%;
        height: auto;
      }
    }
    .studio-right{
      img{
        width: 60%;
        height: auto;
      }
    }
  }

.home-category-left{
  width: 70%!important;
}
.home-category-right{
  width: 65%!important;
}
  .home-edition{
    .write-edition{
      .paragraphe-edition{
        // margin-right: 30%;
        width: 60%;
      }
    }
    .images-edition{
      top: 5vh!important;
      img{
        padding: 10px;
      }
      img:last-child{
        margin-top: -5vh!important;
      }
    }
  }

.container-edito{
  padding-left: 30%!important;
  padding-right: 10%!important;
}

.container-edito .edito-big-left{
  max-width: 35%!important;
}

.container-edito .edito-big-right{
  max-width: 65%!important;
  flex-basis: 65%!important;
}

.container-mentions{
  margin: 0 25%!important;
}


.chocolat-wrapper .chocolat-bottom{
  height: 110px!important;
}

.chocolat-wrapper .chocolat-bottom .chocolat-description{
  max-width: 60%!important;
}

.category-header p{
  width: 45%!important;
}

.image-texte-scrollable #sticker {
    width: 15vw!important;
    height: auto!important;
}

.article-header .row-article .legende-sous-image{
      width: 60%!important;
    max-width: 60%!important;
    flex-basis: 60%!important;
}
.article-header .row-article .article-anglais, .article-header .row-article .article-francais{
  max-width: 20%!important;
}


}
