
/********************* PROGRESS BAR *****************************/

@media (min-width: 1800px){
  #progress{
    left: 65px;
  }


/************************** HOME *****************************/

  .home-rencontre-destination{
    margin-left:20%!important;
    margin-right: 20%!important;
    img{
      width: 80%;
      height:auto;
    }
  }

  .category-studio{
    .studio-left{
      img{
        width: 95%;
        height: auto;
      }
    }
    .studio-right{
      img{
        width: 60%;
        height: auto;
      }
    }
  }

  .home-edition{
    .write-edition{
      .paragraphe-edition{
        margin-right: 30%;
        width: 60%;
      }
    }
    .images-edition{
      // top: 10vh!important;
      img{
        padding: 10px;
      }
      img:last-child{
        margin-top: -5vh!important;
      }
    }
  }


}
