.pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122{
  height: 100%!important;
  top: 0!important;
  padding: 0px 50px!important;
  margin-bottom: 0!important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#popmake-122{
  #pum_popup_title_122{
    display: none;
  }
  .pum-content{
    display: flex;
    flex-direction: column;
    .intro, .infos-sup, .infos-call{
      font-size: 12px;
      letter-spacing: 0.3px;
      line-height: 17px;
      margin: 0;
    }
    .intro{
      font-family: 'Freight Text Medium';
      text-align: center;
      margin-top: 30px;
    }
    .infos-sup{
      font-family: 'Freight Text Medium Italic';
      text-align: center;
    }
    .infos-call{
      font-family: 'Freight Text Medium Italic';
    }
    .title-contact{
      margin-top: 20px;
      font-size: 15px;
      font-family: 'LeagueGothic';
      line-height: 35px;
    }
  }
}



.custom-select {
  width: 80%!important;
  height: auto!important;
  position: relative;
  font-family: 'Avenir';
  border-radius: 0!important;
  text-align: center;
  font-size: 9px;
  letter-spacing: 1.8px;
  line-height: 21px!important;
  border: 1px solid black!important;
  padding: 0!important;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: white;
  color: #a2a2a2!important;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000;
  padding: 0px 0px;
  border: 1px solid transparent;
  // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  text-align: center;
  color: black;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 99;
  font-size: 9px;
  letter-spacing: 1.8px;
  line-height: 21px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div{
  border-bottom: 1px solid black;
  // padding: 6px 10px;
  margin: 0px 10px;
}

.select-items div:last-child{
  border-bottom: 1px solid transparent!important;
}

.select-items div:first-child{
  border-top: 1px solid #a2a2a2!important;
}
.select-items div:hover, .same-as-selected {
  background-color: black;
  color: white!important;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#wpcf7-f86-o4 input[type=text], #wpcf7-f86-o4 input[type=email], #wpcf7-f86-o4 input[type=text]:focus, #wpcf7-f86-o4 input[type=email]:focus{
  display: inline;
  width: 80%;
  border-bottom: 1px dotted #bbb;
  border-top: none;
  border-left: none;
  border-right: none;
  height: auto;
  margin: 5px 0 0 0;
  background-color: transparent;
  float: right;
  outline: none;
  line-height: normal;
  font-family: 'Freight Text Medium';
  font-size: 14px;
  letter-spacing: 0.35px;
}

#wpcf7-f86-o4 p{
  margin-bottom: 8px;
  display: flex;
  align-items: flex-end;
}
#wpcf7-f86-o4 label{
 display: inline;
 width: 20%;
 font-family: 'Freight Text Medium Italic';
 font-size: 12px;
 line-height: 0;
 margin-bottom: 0;
}

.your-message{
  width: 100%;
}

#wpcf7-f86-o4 textarea{
 width: 100%;
 height: 25vh;
 margin-top: 20px;
 border: 1px solid black;
 font-family: 'Freight Text Medium';
 font-size: 14px;
 letter-spacing: 0.35px;
 line-height: 21px;
}

#wpcf7-f86-o4 input[type=submit]{
  padding: 6px 10px;
  text-transform: uppercase;
  color:#fff;
  background-color: #000;
  font-size: 9px;
  font-weight:300;
  line-height: 1.4285;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  border:1px solid #000;
  border-radius: 0px;
  font-family: 'Avenir';
  font-size: 9px;
  letter-spacing: 1.8px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

#wpcf7-f86-o4 input[type=submit]:hover{
  background-color: #fff;
  color: #000;
}



.form-inputs{
  margin-top: 20px;
  margin-bottom: 10px;
}



div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 40vh 5%;
  text-align: center;
  border: none!important;
  position: absolute;
  font-family: 'Freight Text Medium Italic';
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  background-color: white;
  color: black;
  height: 100%;
}
