.fond-blanc{
  background-color: #fff!important;
}

.image-relative{
  position: relative;
}

/************************ PANORAMIQUE ***************************/
.bloc-panoramique{
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 100vh;
  .panoramique{
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    // z-index: 5;
    img{
      width: 100%;
      height: 100%;
      max-height: 100vh;
      object-fit: cover;
    }
    .legende-panoramique1, .legende-panoramique2{
      p{
        position: absolute;
        z-index: 6;
        color: #fbfbfb;
        font-family: 'Freight Text';
        font-style: italic;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1.05px;
        line-height: 16px;
        bottom: 30px;
        margin-bottom: 0;
        width: 25%;
      }
    }
    .legende-panoramique1 p{
      left: 15%;
    }
    .legende-panoramique2 p{
      left: 45%;
    }
  }
}

/***************************** DYPTIQUE ************************************/

.container-dyptique{
  padding: 10vh 20%;
  margin: 0 -4.5%;
  .dyptique{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    .image-gauche, .image-droite{
      height: auto;
      // width: 50%;
      padding: 0 5px;
      max-height: 80vh;
    }
  }
  .legendes-dyptique{
    margin-top: 1rem;
    .legende-dyp{
      display: flex;
      justify-content: center;
      p{
        font-family: 'Freight Text';
        font-style: italic;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.75px;
        line-height: 14px;
        margin-bottom: 0;
      }
    }
    .legende-francais-dyptique{
      color: #000000;
    }
    .legende-anglais-dyptique{
      color: $grey-text;
    }
  }

}



/********************* IMAGE /TEXTE SCROLLABLE **************************/
.image-texte-scrollable{
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  height: auto;
  // margin-left: 20%;
  #sticker{
    margin-left: 24%;
    margin-right: 15px;
  }
  @media (max-width: 1800px){
    #sticker{
      width: 35vw!important;
      height: auto!important;

    }
  }

  .image-legende-gauche{
    position: relative;
    .image-gauche{
      margin-bottom: 10px;
      width: 100%;
    }
    .legende-anglais, .legende-francais{
      width: 80%;
      p{
        font-size: 10px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0.9px;
        line-height: 14px;
      }
    }
  }
  .position-texte{
    width: 60vw;
    display: flex;
    justify-content: center;
    padding: 0!important;
  }
  .texte-scrollable-droite{
    display: flex;
    width: 50vw!important;
    height: auto;
    .legende-francais, .legende-anglais{
      width: 50%;
      padding-left: 15px;
    }

  }
}

.question, .reponse{
  text-align: justify!important;
}

.question{
  font-family: "LeagueGothic"!important;
  font-size: 21px!important;
  font-weight: 400;
  letter-spacing: 0.65px!important;
}

@media (min-width: 1800px){
  .image-texte-scrollable{
    margin-left: 24%;
    margin-right: 15px;

    .position-texte{
      width: 35vw;
    }
  }
}


/***************************** VIDEO ***************************/
.container-video{
  margin: 10vh 0;


  @media (min-width: 768px){
    display: flex;
    flex-direction: column;
    align-items: center;

    .video{
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #fff;
      width: 90%;
      iframe{
      // width: 100%!important;
      width: 100%!important;
    }
  //     iframe{
  //       height: 80vh!important;
  //       padding-left: 5px;
  //       padding-right: 5px;
  //       padding-bottom: 5px;
  //       padding-top: 5px;
  //       background-color:#fff;
  //     }
  //   }
  //   .legende-video{
  //     padding: 0 8% 0 12.5%;
  //     margin-top: -10px;
}

}
@media (max-width: 767px){
  .legende-video{
    padding-left: 15px;
    padding-right: 15px;

  }
}

.legende-video{
  align-self: center;
  padding-top: 10px;
  .title{
    font-family: "Freight Text";
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 0.5em;
  }
  .legende{
    p{
      margin-bottom: 0;
      font-family: "Freight Text";
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0.55px;
      line-height: 13px;
    }
  }
  @media (min-width: 768px){
    .direction-artistique{
      padding-left: 5px!important;
    }
  }

  .musique-originale{
      // padding-right: 0!important;
    }
  }
}

/************************** IMAGE CENTREE HORIZONTALE***********************/
.image-centree{
  margin: 0 -4.5%;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .image-relative{
    position: relative;
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image{
      width: 100%;
      margin: auto;
      // max-height: 80vh;
      height: auto;
      position: relative;
    }
  }
  .legendes{
    display: flex;
    align-self: flex-end;
    margin-top: 15px;
    // margin-right: 10%;
    width: 50%;
    p{
      font-size: 10px;
      font-weight: 300;
      letter-spacing: .75px;
      line-height: 14px;
      padding-left: 5px;
      padding-right: 5px;
    }

  }
}

/************************** IMAGE CENTREE VERTICALE***********************/
.image-centree-verticale{
  margin: 0 -4.5%;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .image-relative{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image{
      width: 100%;
      margin: auto;
      // max-height: 80vh;
      height: auto;
      position: relative;
    }
  }
  .legendes{
    display: flex;
    flex-direction: column;
    // align-self: flex-end;
    margin-top: 10px;
    // margin-right: 10%;
    width: 100%;
    p{
      font-size: 10px;
      font-weight: 300;
      letter-spacing: .75px;
      line-height: 14px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 5px!important;
      text-align: center;
    }

  }
}

/****************** CITATION *************************/
.citation{
 padding: 10vh 0;
 margin: 0 10%;
 border-top: 0.2px solid black;
 border-bottom: 0.2px solid black;
 display: flex;
 flex-direction: column;
 justify-content: center;
 p{
  text-align: center;
}
.titre{
  font-family: 'Freight Big Book';
  // font-style: italic;
  font-size: 43px;
  font-weight: 300;
  line-height: 52px;
  margin: 0;
  padding: 10vh 10% 5vh 10%;
}
.sous-titre{
  color: #626262;
  font-family: 'Freight Big Book';
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 0 15% 10vh 15%;
}
}


/********************** DYPTIQUE ASYMETRIQUE ******************************/
.dyptique-asymetrique{
  margin: 0 -4.5%;
  padding: 10vh 10%;
  img{
    object-fit: cover;
  }
  .images-dyptique-asymetrique{
    display: flex;
    justify-content: center;
    align-items: center;
    a:last-child{
      display: flex;
    }
    .image-relative{
      position: relative;
      .image-gauche{
        height: 70vh;
      }
    }
    .image-right{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 20px;
      .image-dyptique-asymetrique-right{
        height: 50vh;
      }
      .legende-dyptique-asymetrique{
        padding-top: 15px;
        min-width: 50%;
        p{
          font-size: 10px;
          letter-spacing: .75px;
          line-height: 14px;
          margin-bottom: 5px;
        }
        .legende-anglais p{
          margin-bottom: 0!important;
        }
      }
    }

  }
}
