@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: 'Freight Big Book';
  font-style: italic;
  src: url("../fonts/Freight-Big-Book-Italic.otf");
}

@font-face {
  font-family: 'Freight Big Book';
  src: url("../fonts/Freight-Big-Book.otf");
}

@font-face {
  font-family: 'Freight Text';
  font-weight: bold;
  src: url("../fonts/FreightTextBold.ttf");
}

@font-face {
  font-family: 'Freight Text';
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/FreightTextBoldItalic.ttf");
}

@font-face {
  font-family: 'Freight Text';
  src: url("../fonts/FreightTextMedium.ttf");
}

@font-face {
  font-family: 'Freight Text';
  font-style: italic;
  src: url("../fonts/FreightTextMediumItalic.ttf");
}

@font-face {
  font-family: "LeagueGothic";
  src: url("../fonts/LeagueGothic.otf");
}
