@media (max-width: 767px){

// BASICS
.container-content{
  padding-right: 1%!important;
  padding-left: 1%!important;
  width: 100vw!important;
}
// .container-fluid{
//   padding-right: 0!important;
// }
.xs-visible{
  display: block!important;
}

.xs-invisible{
  display: none!important;
}

.swiper-wrapper{
  display:flex;
  padding-left: 15px;
}
.swiper-slide img{
  width: 100%;
  height: auto;
  padding: 5px;
}

.button-english{
  text-align: center;
    // width: 100%;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-family: 'Freight Text';
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.9px;
    line-height: 23px;
    text-transform: uppercase;
    color: $grey-text;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .button-english:hover{
    font-weight: bold;
  }

  .toggle-anglais{
    display: none!important;
  }

  .legende-francais, .legende-anglais, .article-francais, .article-anglais{
    text-align: justify!important;
  }

// NAVBAR

#progress-bar{
  background-color: #000;
  height: 3px;
  width: 0;
  position: fixed;
  top: 56px!important;
  bottom: 0;
  left: 0.5rem!important;
  z-index: 5;
}


.container-header{
  padding-left: 0px!important;
  padding-right: 0px!important;
  .navbar{
   width: 100%!important;
   border-bottom: 0.5px solid black;
   padding-left: 0;
   padding-right: 0;
   margin-left: 0.5rem;
   margin-right: 1rem;

   .navbar-search{
    width: 5%;
    .recherche-img{
     width: 100%;
   }
 }
 .navbar-brand{
  width: 70%;
  display: flex!important;
  justify-content: center;
  margin: 0;
  .logo{
    width: 60%;
  }
}
#bs4navbar{
  height: 105vh;
  position: absolute;
  width: 102%;
  top: 20px;
  left: -5px;
  right: -5px;
  bottom: 0;
  background-color: $legende!important;
  z-index: 6;
  border-bottom: none!important;

  #menu-menu-mobile{
    margin-top: 56px;
    border-top: 1px solid black;
    border-bottom: none;
    width: 70%!important;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .menu-item{
      font-family: "LeagueGothic";
      font-size: 19px;
      font-weight: 400;
      letter-spacing: 0.95px;
      line-height: 42px;
      text-transform: uppercase;
      width: 100%;
      a{
        img{
          width: auto;
          height: 30px;
        }
      }
    }
    .menu-item-425, .menu-item-426, .menu-item-429, .menu-item-964, .menu-item-965, .menu-item-968{
      border-bottom: 0.5px solid #000;
      padding-bottom: 0.5rem;
    }
    .menu-item-427, .menu-item-428, .menu-item-966, .menu-item-967{
      margin-top: 0.5rem;
    }
    .menu-item-433, .menu-item-434, .menu-item-970, .menu-item-971{
      width: 20%!important;
      margin-top: 0.5rem;
    }
    .menu-item-432, .menu-item-969{
     width: 15%!important;
     margin-top: 0.5rem;
   }
 }
}



}
}

.navbar-light .navbar-toggler-icon {
  background-image: url('../img/menu-mobile.svg')!important;
}

.navbar-light .navbar-toggler-table-icon {
  background-image: url('../img/layers.png')!important;
}

.navbar-light .navbar-toggler{
  border: none !important;
  padding: 0!important;
  font-size: 1em!important;
  z-index: 99;
}



.navbar-light .navbar-toggler-icon-close{
  background-image: url('../img/croix.svg')!important;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-light .navbar-toggler-table-icon-close{
  display: none!important;
}



// FOOTER

.footer-left-widget{
  margin-top: 0;
  img{
    display: none;
  }
}
#footer-right-mobile-widget-area{
  width: 100%;
}

#menu-reseaux-sociaux-mobile-footer, #menu-reseaux-sociaux-footer-mobile{
  display: flex;
  justify-content: center;
  li{
    padding: 25px 10px;
    img{
      height: 30px;
      width: auto;
    }
  }
}

.footer-right{
  padding-bottom: 25px;
  border-bottom: 0.5px solid #000;
}

.footer-right, .newsletter-area{
  justify-content: center!important;
  align-items: center!important;
  font-size: 14px!important;
}
.sub-title-newsletter, .title-newsletter{
  text-align: center!important;
  width: 222px!important;
}

.sub-title-newsletter{
  padding-top: 10px;
  padding-bottom: 15px;
}

.textwidget{
  text-align: center;
}

.container-content p, .legende-francais p, .legende-anglais p{
  font-size: 16px!important;
  font-weight: 500!important;
  letter-spacing: 1.16px!important;
  line-height: 26px!important;
}

// ARTICLE
.article-header{
  .chapeau{
    p{
      margin-bottom: 0;
    }
  }
  .article-title{
    flex-direction: column-reverse;
    align-items: flex-start!important;
    p{
      margin-top: 0;
      margin-bottom: 30vh!important;
    }
    h1{
      font-size: 36px;
      line-height: 29px;
    }
  }
  .row-article{
    margin-top: 10px!important;
    .article-anglais, .article-francais{
      padding: 30px;
    }
  }
}

// EDITO
.contact-home p{
  text-align: center!important;
}

.bloc-panoramique-home{
  height: auto!important;
  .panoramique{
    position: relative!important;
    width: 100%!important;
    height: auto!important;
  }
}

.edito-title{
  padding-left: 15px;
}
.edito-sous-titre{
  margin-bottom: 4em!important;
  font-size: 23px!important;
  font-weight: 300!important;
  letter-spacing: 1.15px!important;
  line-height: 29px!important;
}

.edito-sous-titre-xs{
  margin-bottom: 2em!important;
}

.container-dyptique-edito{
  display: block!important;
  .legendes-dyptique{
    margin-top: 1rem;
    .legende-dyp{
      display: flex;
      justify-content: center;
      p{
        font-family: 'Freight Text';
        font-style: italic;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.75px;
        line-height: 14px;
        margin-bottom: 0;
      }
    }
    .legende-francais-dyptique{
      color: #000000;
    }
    .legende-anglais-dyptique{
      color: $grey-text;
    }
  }
}

.container-mentions{
  padding: 0!important;
  h2, h3, p{
    text-align: center!important;
  }
}

.mentions-area{
  padding: 2em 0;
  border-top: 1px solid #000;
}

.plan-du-site{
  text-align: center;
}

.sous-titre-plan-du-site{
  width: 65%!important;
  margin: auto;
}

/************ ARTICLE ***************/

.loader-single{
  // flex-direction: column!important;
  flex-wrap: wrap!important;
  justify-content: space-around!important;
  padding: 60% 0!important;
  text-align: center!important;
  opacity: 0.9;
  .article-title h2{
    padding: 0 20px!important;
    font-size: 40px!important;
    font-weight: 300!important;
    letter-spacing: 2px!important;
    line-height: 39px!important;
  }
}

.dyptique-asymetrique .images-dyptique-asymetrique{
  flex-direction: column;
  align-items: center;
}

#sticker{
  display: none;
}

.sticker{
  text-align: center;
  padding-top: 5vh;
}

.image-texte-scrollable{
  flex-direction: column;
  margin-left: 0!important;
  margin-top: 30px!important;
  margin-bottom: 30px!important;
  .position-texte{
    width: 100%!important;
    .texte-scrollable-droite{
      width: 100%!important;
      .legende-francais, .legende-anglais{
        width: 100%!important;
        padding-left: 15px;
        padding-right: 15px;
        .question p{
          font-size: 21px!important;
          font-weight: 400!important;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
  }
  .image-legende-gauche{
    .legende-francais, .legende-anglais {
      width: 100%!important;
      padding-left: 15px;
      padding-right: 15px;
    }
    .image-gauche{
      width: auto!important;
      max-height: 50vh;
    }
  }
}
.bloc-panoramique{
  height: auto!important;
  margin-top: 30px!important;
  margin-bottom: 30px!important;
  .panoramique{
    position: initial!important;
    .legende-panoramique1, .legende-panoramique2{
      p{
        position: initial!important;
        margin-top: 30px;
        width: 100%!important;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .legende-panoramique1 p{
      color: black!important;
    }
    .legende-panoramique2 p{
      color: $grey-text!important;
    }
  }
}

.citation{
  padding-top: 30px!important;
  padding-bottom: 30px!important;
  border-top: none!important;
  border-bottom: none!important;
  .titre{
    p{
      font-size: 30px!important;
      font-weight: 300!important;
      line-height: 41px!important;
    }
    border-top:1px solid $grey-text;
    border-bottom: 1px solid $grey-text;

  }
  .sous-titre{
    display: none;
  }
}

.container-dyptique-edito{
  padding: 30px 0!important;
  .legendes-dyptique .legende-dyp{
    padding: 0 15px;
    p{
      text-align: center;
    }
  }
}


.image-centree{
  padding: 15px 2px!important;
  width: 100%;
  margin: 0!important;
  .legendes{
    align-self: center!important;
    margin-right: 0!important;
    width: 100%!important;
    p{
      text-align: center;
    }
  }
  .image-relative .image{
    max-width: 100%;
  // max-height: 50vh!important;
}
}

.container-video{
 .video{
  padding: 0!important;
  iframe{
    height: 30vh!important;
  }
}
.legende-video{
  .direction-artistique, .lieu-video, .vues-aeriennes, .musique-originale{
    .title{
      margin-bottom: 0;
      padding-top: 5px;
      font-size: 13px;
      font-weight: 500;
      font-style: italic;
    }
    .legende p{
      padding-bottom: 5px;
      font-size: 11px!important;
      letter-spacing: 0.55px!important;
      line-height: 13px!important;

    }
  }
}
}

.dyptique-asymetrique{
  padding-top: 30px!important;
  padding-bottom: 30px!important;
  .images-dyptique-asymetrique .image-right{
    padding-left: 0!important;
    padding-top: 10px;
  }
}

.remerciements{
 justify-content: center!important;
 flex-direction: column;
 text-align: center;
 align-items: center;
}

.paragraphe-remerciements{
  padding-top: 30px;
}

.article-inspirant:last-child{
  display: none;
}
.histoires{
  padding: 0 50px 30px 50px!important;
  text-align: center;

}

.histoire{
  padding: 5px!important;
}

.article-inspirant{
  padding: 2px!important;
  img{
    max-height: 35vh;
  }
  .article-title{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
}
.chocolat-wrapper .chocolat-bottom{
  height: 200px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .chocolat-fullscreen{
    display: none;
  }
}

.chocolat-wrapper .chocolat-description{
  width: 100%;
  max-width: 100%!important;
  p{
    padding-left: 15px!important;
    padding-top: 0!important;
    padding-right: 15px!important;
    text-align: left;
  }
}

/************** CATEGORY ******************/
.categ{
  .category-area{
    margin: 5vh 15px!important;
    .row-category{
      flex-direction: column;
      width: 100%;
      .thumbnail-category{
        width: 100%!important;
        img{
          width: 100%!important;
          height: auto;
        }
      }
      .right-part-category-horizontal{
        width: 100%!important;
      }
    }
    .row-bottom .title-and-sentence-bottom{
      width: 100%!important;
    }
  }
}

.category-area:nth-child(4n+3) .thumbnail-category{
  display: block!important;
}

/***************** HOME ********************/
.container-home .header-home .image-full-size .background-img, .container-home .header-home .image-full-size video, .container-home .header-home .video-full-size .background-img, .container-home .header-home .video-full-size video{
  height: 25vh!important;
}

.container-home .header-home .logo-home{
  bottom: 72vh!important;
}

.container-home .header-home .sous-titre-home{
  float: left!important;
  position: absolute;
  bottom: 0;
  width: 70%!important;
  margin-bottom: 5vh;
}

.container-home{
 .intro{
  flex-direction: column;
  h2{
    width: 100%!important;
    text-align: left!important;
  }
  .intro-texte{
    width: 100%!important;
    flex-direction: column;
    .legende-anglais, .legende-francais{
      width: 100%!important;
    }
  }
}
}


.home-rencontre-destination, .home-category-retrospective, .category-studio, .home-edition{
  margin: 5vh 15px!important;
  img{
    height: auto;
  }
  .the-title{
    font-size: 43px!important;
    font-weight: 300!important;
    line-height: 40px!important;
  }
  .the-category, .article-title, .excerpt-article p, .the-date{
    text-align: center!important;
  }
}

.home-rencontre-destination, .home-category-left, .studio-left, .write-edition{
  flex-direction: column;
}


.home-category-right, .home-category-left, .studio-left{
  width: 100%!important;
  margin-top: 30px!important;
  display: flex;
}

.home-category-right{
  flex-direction: column-reverse;
}
.a-decouvrir, .paragraphe-classique, .images-edition img:last-child{
  display: none;
}

.home-edition{
  height: 100vh!important;
}

.paragraphe-edition{
  padding-top: 30px;
  padding-bottom: 30px;
}

.images-edition{
  top: auto!important;
  height: auto!important;
  width: auto!important;
  img{
    height: auto!important;
    width: 100%;
    object-fit: contain!important;
        align-self: flex-start;
  }
}

.categories-prez{
  border-bottom: none!important;
}

.contact-home .button-contactez-nous{
  font-size: 11px!important;
  font-weight: 500!important;
  letter-spacing: 2.2px!important;
  width: 180px!important;
  height: 38px!important;
}

.contact-home .legende-francais, .contact-home .legende-anglais{
  padding: 15px 30px!important;
}

.button-newsletter{
  /* Style for "JE M’INSCR" */
  font-size: 9px!important;
  font-weight: 300!important;
  letter-spacing: 1.8px!important;
  line-height: 21px!important;
  width: 145px!important;
  // padding: 10px 10px!important;
}


}
