:not(output):-moz-ui-invalid {
  box-shadow:  none!important;
}

.newsletter-area{
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-family: 'Freight Text';
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.3px;
}

form#sib_signup_form_1 .sib-default-btn{
  border-radius: 0px!important;
  font-size: 12px!important;

}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type=checkbox] {
  -border-radius: 0px;
  height: 12px;
  width: 12px;
  background: #fff;
  border: 1px solid #000;
}

input[type="checkbox"]:checked {
  background: #000;
  margin:0px;
  padding: 1px;
  position: relative;
}

.title-newsletter{
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  text-align: right;
}

.sub-title-newsletter{
  line-height: 17px;
  margin: 0;
  width: 153px;
  margin-bottom: 12px;
  text-align: right;
}


.button-newsletter{
  width: 100px;
  padding: 8px 10px;
  color:#000;
  background-color: transparent;
  font-size: 9px;
  font-weight:300;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  white-space: normal;
  border:1px solid #000;
  border-radius: 0px;
  font-family: 'Avenir';
  letter-spacing: 1.8px;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.button-newsletter:hover{
  background-color: black;
  color: #fff;
}
.pum-title, .popmake-title{
  font-family: "LeagueGothic"!important;
  margin-bottom: 40px;
}


#sib_signup_form_1{
  .sib-alert-message-success, .sib-alert-message-warning, .sib-alert-message-error {
    position: absolute;
    background-color: white!important;
    border: none!important;
    color: black!important;
    font-family: 'Freight Text';
    font-style: italic;
    display: flex;
    justify-content: center;
    border-radius: 0!important;
  }

  .sib_loader{
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

// NEWSLETTER MOBILE
@media (max-width: 767.98px){

  form#sib_signup_form_1 .sib-default-btn{
    width: 100%!important;
  }


  .pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122{
    width: 100%!important;
  }

  form#sib_signup_form_1 .checkboxes {
    width: 70%!important;
    margin: 10vh 15%!important;
  }

  .pum-theme-116 #popmake-112, .pum-theme-custom #popmake-112{
    left: 0!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;
    height: 100%!important;
    width: 100%!important;
  }

  .popmake-title, .pum-title{
    margin-bottom: 35%!important;
    margin-top: 10%;
  }

  #sib_signup_form_1 .checkboxes{
    margin: 10% 0 30% 0!important;
  }

  .pum-theme-116 .pum-container, .pum-theme-custom .pum-container{
    padding: 30px!important;
  }

  #sib_signup_form_1{
    font-style: italic;
    .sib_loader{
     height: 65vh;
   }
   .sib-alert-message {
    padding: 40% 10% 75% 10%!important;
    text-align: center;
    width: 100%;
    line-height: 25px!important;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
  }
}
}

// NEWSLETTER LAPTOP MEDIUM

@media (min-width: 992px) and (max-width: 1799.98px){

 form#sib_signup_form_1 .sib-default-btn{
  width: 60%!important;
  margin: 0px 20%!important;
}
#sib_signup_form_1{
  font-style: italic;
  .sib_loader{
   height: 40vh;
 }
 .sib-alert-message{
  padding: 30% 12px 55% 12px!important;
  text-align: center;
  width: 100%;
  line-height: 25px!important;
  display: flex;
  justify-content: center;
}
}

form#sib_signup_form_1 p.sib-alert-message-warning{
  padding: 30% 12px 65% 12px!important;
}
#sib_signup_form_1 .sib_loader{
  height: 48vh!important;
}
.pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122, .pum-theme-custom #popmake-112{
  width: 25%!important;
  top: 20%!important;
}


}

// NEWSLETTER TABLET

@media (min-width: 768px) and (max-width: 991.98px){

 form#sib_signup_form_1 .sib-default-btn{
  width: 50%!important;
  margin: 0px 25%!important;
}

.pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122{
  width: 40%!important;
}

.pum-theme-116 #popmake-112, .pum-theme-custom #popmake-112{
  top: 25%!important;
  width: 30%!important;
}

#sib_signup_form_1{
  font-style: italic;
  .sib_loader{
   height: 30vh;
 }
 .sib-alert-message{
  padding: 25% 12px 75%!important;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 25px!important;
}


}

}

// NEWSLETTER BIG

@media (min-width: 1800px){

 form#sib_signup_form_1 .sib-default-btn{
  width: 50%!important;
  margin: 0px 25%!important;
}

.pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122{
  width: 18%!important;
}


.pum-theme-116 #popmake-112, .pum-theme-custom #popmake-112{
  top: 30%!important;
  // left: 1280px!important;
  width: 17%!important;
}

#sib_signup_form_1{
  font-style: italic;
  .sib_loader{
   height: 27vh;
 }
 .sib-alert-message{
  padding: 20% 12px 30% 12px!important;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
}
}



/************************* COOKIES *************************/
.pum-theme-109 .pum-content, .pum-theme-hello-box .pum-content{
  text-align: center;
}

#popmake-997 .pum-container, .pum-theme-hello-box .pum-container{
 font-family: "Freight Text";
 p{
  font-style: italic;
  line-height: 1em!important;
}
input[type=submit]{
  background-color: transparent;
  border: none;
  color: $legende;
  font-family: "LeagueGothic";
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0;
  padding-left: 5px;

}
}

@media (min-width: 768px){
  .pum-theme-109 .pum-container, .pum-theme-hello-box .pum-container{
    input[type=submit]{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      padding-left: 17vw;
      padding-top: 8px;
      left: 0;
      cursor: pointer!important;
    }
  }
}

@media (max-width: 767px){
  .pum-theme-109 .pum-container, .pum-theme-hello-box .pum-container{
    input[type=submit]{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding-top: 4px;
      text-align: right;
    }
  }
}




input:matches([type="button"], [type="submit"], [type="reset"]), input[type="file"]::-webkit-file-upload-button, button{
  cursor: pointer!important;
}


#popmake-997 .pum-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pum-theme-109 .pum-container p, .pum-theme-hello-box .pum-container p{
  margin: 0!important;
}

#popmake-997{
  bottom: 0!important;
  min-height: 50px;
  margin-bottom: 0!important;
}


