.container-recherche{
  background-color: #fff;
  #close-recherche{
    position: absolute;
    top: 22px;
    right: 15px;
    font-weight: 300;
    color: $grey-text;
    font-size: 25px;
    transform: rotate(45deg);
  }
  .recherche-titre{
    text-align: left;
    font-family: "LeagueGothic";
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 50px;
    padding-top: 30px;
  }
  .screen-reader-text{
    display: none!important;
  }
  #s{
    border-radius: 0!important;
    border: none;
    font-family: 'Freight Big Book';
    font-size: 47px;
    font-weight: 300;
    letter-spacing: 2.35px;
    line-height: 54px;
    // background-color: $legende;
    text-transform: capitalize;
  }

  @media (max-width: 768px){
    #s{
     font-size: 38px!important;
   }
 }
 #s::placeholder{
  color: $grisclair;
}
#s:focus, #s:hover, #s:visited, #s:active, #searchsubmit:hover, #searchsubmit:focus, #searchsubmit:active, #searchsubmit:visited{
  outline: none!important;
}
#searchsubmit{
  width: 109px;
  height: 28px;
  padding: 6px 10px;
  color:#000;
  background-color: transparent;
  font-size: 9px;
  font-weight:300;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  white-space: normal;
  border:0.5px solid #000;
  border-radius: 0px;
  font-family: 'Avenir';
  letter-spacing: 1.8px;
  text-transform: uppercase;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  display:flex;
  align-items: center;
  justify-content: center;
}
#searchsubmit:hover{
  background-color: black;
  color: #fff;
}
#searchform{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  .search-mots{
    border-bottom: 0.5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) and (max-height: 670px){
    #choix{
      padding: 0 23%!important;
      text-align: center;
    }


  }
  @media (max-width: 768px){

    #choix{
      padding: 0 13%;
      text-align: center;
    }
  }
  #choix p{
    color: #000000;
    font-family: "LeagueGothic";
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 20vh;
  }
  #choix input{
    display:none;
  }
  #choix label{
    display:inline-block;
    text-align:center;
    padding:10px 5px;
    cursor:pointer;
    color: #000000;
    font-family: "Freight Text";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 29px;
    transition: color .2s linear;
  }
  #choix label.active{
    color: $grey-text;
    transition: color .2s linear;
  }
}
}


.the-search-title{
  color: #000000;
  font-family: 'Freight Big Book';
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 2.25px;
  line-height: 49px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.the-search-subtitle{
  font-family: "LeagueGothic";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.recherche-zero{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recherche-none{
  margin: 2em 0.5em 1em;
  padding: 20vh 5% 0 5%;
  text-align: center;
  font-family: 'Freight Text';
  font-style: italic;
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  background-color: $legende;
  color: black;
  width: 100%;
}

@media (max-width: 768px){
  .recherche-none{
    margin: 0em .5em 6em!important;
  }
}

.button-recherche{
  width: 200px!important;

}

.recherche-capitalize{
  text-transform: capitalize;
}

@media (min-width: 768px){
  .container-search{
    padding-left: 10%!important;
  }
}

.container-search{
  padding-top: 100px!important;
}
