// GRAPHIC
@import 'src/sass/fonts';
@import 'src/sass/colors';
@import 'src/sass/reset';

// RESPONSIVE
@import 'src/sass/mobile';
@import 'src/sass/big';
@import 'src/sass/tablet';

// AREAS
@import 'src/sass/headerandfooter';
@import 'src/sass/newsletter';
@import 'src/sass/contact';
@import 'src/sass/flexible';
@import 'src/sass/recherche';

/*
* FONTS FAMILIES
*
* font-family: 'Avenir';
*
* font-family: 'Freight Big Book';
*
* font-family: 'Freight Text';
*
* font-family: 'LeagueGothic';
*/

.cubes{
 display: none;
}

@media (min-width: 768px){
  .xs-visible{
    display: none!important;
  }

  .xs-invisible{
    display: block;
  }
}

body{
  background-color: $legende!important;
  overflow-x: hidden;
}

.normal-title{
  font-family: 'Freight Big Book'!important;
}

.italic-title{
  font-family: 'Freight Big Book'!important;
  font-style: italic;
}

.no-padding{
  padding: 0!important;
}

li p{
  margin: 0;
}

li{
  list-style-type: none;
}

a:hover, a:active, a:focus, a:visited{
  text-decoration: none!important;
  outline: none!important;
}

img:hover, a:hover img, video:hover , a:hover video{
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
  -moz-filter: brightness(95%);
  -o-filter: brightness(95%);
  -ms-filter: brightness(95%);
  transition: all 0.4s ease-in-out;
}

img{
  max-width: 100%;
}

input:focus, input:visited, input{
  outline: none!important;
}

img, a img, video, a video, .delete-hover-effect:hover, a:hover .delete-hover-effect{
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  transition: all 0.4s ease-in-out;
}

em{
  font-style: italic;
}

strong{
  font-weight: bold;
}

#cubes {
  -webkit-appearance: none!important;
  background-color: transparent;
  border: none;
}

.legende-francais{
  font-family: 'Freight Text';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.05px;
  line-height: 23px;
  color: black;
}

.legende-anglais{
  font-family: 'Freight Text';
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.05px;
  line-height: 21px;
  color: $grey-text;
  a{
    color: $grey-text!important;
  }
}

.titre-page{
  font-family: "LeagueGothic";
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.85px;
  line-height: 15px;
  text-transform: uppercase;
}

/*************** ARTICLE ****************************/

.container-content{
  padding-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 65vh;
}

.article-header{
  h2{
    font-family: "LeagueGothic";
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
  }
  .chapeau{
    font-family: 'Freight Text';
    font-style: italic;
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
    line-height: 25px;
    padding-left: 0;
    padding-right: 0;
  }
  .article-title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    h1{
      font-family: 'Freight Big Book';
      font-size: 58px;
      font-weight: 300;
      line-height: 47px;
      span{
        font-family: 'Freight Big Book';
        font-style: italic;
      }
    }
    p{
      font-family: 'Freight Big Book';
      font-style: italic;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.55px;
      line-height: 24px;
      margin-bottom: .5rem;
    }
  }
  .image-full-size, .video-full-size{
    width: 100%;
    position: relative;
    z-index: 1;
    img{
      width: 100%;
    }
  }

  .legende-image-full-size{
    position: absolute;
    bottom: 30px;
    width: 25%;
    left: 5%;
    font-family: 'Freight Text';
    font-style: italic;
    color: $legende;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    a{
      color: $legende!important;
    }
  }

  .plus-upright{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 40px;
  }

  .plus-upleft{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 40px;
  }

  .row-article{
    margin-top: 25px;
    margin-bottom: 25px;
    .legende-sous-image{
      font-family: 'Freight Text';
      font-style: italic;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.9px;
      line-height: 16px;
    }

    .article-francais{
      font-family: 'Freight Text';
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.05px;
      line-height: 23px;
      text-align: justify;
    }

    .article-anglais{
      font-family: 'Freight Text';
      font-style: italic;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.05px;
      line-height: 21px;
      color: $grey-text;
      text-align: justify;
      a{
        color: $grey-text!important;
      }
    }
  }

}

.article-anglais{
  font-family: 'Freight Text';
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.05px;
  line-height: 21px;
  color: $grey-text;
  a{
    color: $grey-text!important;
  }
}

/********************************** HOME ************************************/

.container-home{
  padding-left: 5%;
  padding-right: 5%;
  .header-home{
    height: 110vh;
    position: relative;
    .image-full-size, .video-full-size{
      overflow: hidden;
      .background-img, video{
        object-fit: cover;
        width: 100%;
        height: 60vh;
      }
    }
    .logo-home{
      position: absolute;
      width: 90%;
      bottom: 40vh;
      left: 5%;
    }
    .sous-titre-home{
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 1.25px;
      line-height: 29px;
      font-family: 'Freight Big Book';
      font-weight: 300;
      width: 56%;
      float: right;
      margin-top: 12vh;
      padding-right: 10%;
      text-align: justify;
    }
  }

@media (min-width: 992px) and (max-width: 1800px){
    .intro{
      margin-top: 20vh;
    }
}
  .intro{
    display:flex;

    h2{
      font-family: "LeagueGothic";
      font-size: 35px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
      width: 43%;
      text-align: right;
      padding-top: 7px;
    }
    .intro-texte{
      display: flex;
      width: 57%;
      .legende-anglais, .legende-francais{
        width: 41.5%;
        padding-left: 15px;
        text-align: justify;
      }
    }
  }
}


.bloc-panoramique-home{
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 110vh;
  .panoramique{
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    // z-index: 5;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.categories-prez{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  margin-top: 10vh;
  // margin: 0 5%;
  a{
    border-left: 1px solid black;
    margin: 40px 0;
    .categorie{
    // width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
    .paragraphe, h3{
      text-align: center;
    }
    h3{
      font-family: "LeagueGothic";
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.65px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .paragraphe{
      font-family: 'Freight Text';
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}
a:first-child{
  border-left: 1px solid transparent!important;
}

}

.contact-home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 0;
  h3{
    font-family: 'Freight Text';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  .legende-francais, .legende-anglais{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.33px;
    line-height: 17px;
    p{
      margin: 0;
    }
  }
  .button-contactez-nous{
    width: 157px;
    height: 30px;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 28px;
    padding: 0;
    margin-top: 30px;
  }
}


// ARTICLES MIS EN AVANT

.home-rencontre-destination{
  position: relative;
  margin-top: 10vh;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}
.home-category-left{
  // position: absolute;
  width: 65%;
  // opacity: 0;
  img{
    width: 70%;
    height: auto;
  }
}
.home-category-right{
  width: 45%;
  margin-top: 20vh;
  .the-category{
    line-height: 15px;
  }
  .the-date{
    line-height: 10px;
  }
  .the-title{
    font-size: 34px;
    font-weight: 300;
    line-height: 32px;
  }
  a:hover .title-list{
    opacity: 0.7;
  }
}

.home-category-retrospective{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // width: 100%;
  margin-left: 20%;
  margin-right: 20%;
  img{
    width: 100%;
    height: auto;
  }
  .the-title{
    font-size: 82px;
    font-weight: 300;
    line-height: 71px;
  }
}

.category-studio{
  margin-left: 30%;
  margin-top: 10vh;
  display: flex;
  .studio-left{
    width: 45%;
    a:hover .title-list{
      opacity: 0.7;
    }

  }
  .studio-right{
    width: 55%;
    .the-category{
      line-height: 5px;
    }
    .the-date{
      line-height: 10px;
    }
    .the-title{
      font-size: 42px;
      font-weight: 300;
      line-height: 40px;
    }
  }
}

.the-category{
  font-family: "LeagueGothic"!important;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.65px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 20px;
}

.the-title{
  font-size: 68px;
  font-weight: 300;
  line-height: 55px;
  font-family: 'Freight Big Book';
  margin-bottom: 30px;
  span{
    font-family: 'Freight Big Book';
    font-style: italic;
  }
}

.the-date{
  font-family: 'Freight Big Book';
  font-style: italic;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.55px;
  line-height: 24px;
}

.paragraphe-italique p{
  font-family: 'Freight Text';
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.paragraphe-classique p{
  font-family: 'Freight Text';
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.33px;
  line-height: 18px;
  text-align: justify;
}

.title-list{
  font-size: 19px;
  font-weight: 300;
  line-height: 31px;
  font-family: 'Freight Big Book';
  span{
    font-family: 'Freight Big Book';
    font-style: italic;
  }
}

.decouvrir-aussi{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.33px;
  line-height: 18px;
  font-family: 'Freight Text';
  margin-top: 30px;
}

@media (max-width: 1800px){
  .decouvrir-part2{
  margin-top: 25vh!important;
}
}



.home-edition{
  margin: 10vh 10% 0 10%;
  position: relative;
  height: 120vh;
  .write-edition{
    display: flex;
    justify-content: center;
    .titre-edition{
      width: 70%;
      display: flex;
      justify-content: flex-end;
      h2{
        font-family: "LeagueGothic";
        font-size: 35px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        span{
          display: inline-block;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .paragraphe-edition{
      // padding-left: 30px;
      // padding-right: 30px;
      // margin-right: 30%;
      width: 100%;
      z-index: 2;
      position: relative;
      p:first-child{
        font-family: 'Freight Big Book';
        // font-style: italic;
        font-size: 31px;
        font-weight: 300;
        letter-spacing: 1.55px;
        line-height: 35px;
        width: 80%;
      }
      p:last-child{
        font-family: 'Freight Text';
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.33px;
        line-height: 18px;
        width: 70%;
        text-align: justify;
      }
    }
  }
  .images-edition{
    position: absolute;
    top: 10vh;
    // z-index: -1;
    width: 100%;
    height: 100%;
    text-align: center;
    display:flex;
    margin-left: 10%;
    img:first-child{
      height: 100vh;
      padding: 5px;
    }
    img:last-child{
      height: 70vh;
      padding: 5px;
      margin-top: -10vh;
      align-self: center;
    }
  }
}


.remerciements{
  display: flex;
  justify-content: space-between;
  .remerciements-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (min-width: 768px){
      padding-right: 20px;
    }
  }

  .the-category{
    font-family: "LeagueGothic";
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
  }
  .article-title{
    text-align: right;
  }
  .paragraphe-remerciements{
    font-family: 'Freight Text';
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.05px;
    line-height: 20px;
    width: 325px;
    text-align: right;
  }
  .partage{
    display: flex;
    justify-content: flex-end;
    .partagez{
      font-family: 'Freight Text';
      font-size: 10px!important;
      font-weight: 500;
      line-height: 28px;
      text-transform: uppercase;
      color: #000000;
    }
    a{
      font-family: "LeagueGothic";
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.75px;
      line-height: 24px;
      text-transform: uppercase;
      margin-left: 10px;
    }
    a:hover{
      font-weight: bold;
    }
  }
}

.articles-a-la-une{
  padding-top: 5vh;
  border-top: 0.5px solid black;
  margin-left: 0!important;
  margin-right: 0!important;
  .histoires h4{
    font-family: 'Freight Big Book';
    font-size: 28px;
    font-weight: 300;
    line-height: 27px;
  }
  .articles-inspirants{
    display:flex;
    flex-direction: row;
    // margin: 0 10%;
    .article-inspirant{
      padding:5px;
      text-align: center;
      .attachment-post-thumbnail{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .article-title{
        padding-left: 15%;
        padding-right: 15%;
        .normal-title{
          font-family: 'Freight Text';
          font-size: 24px;
          font-weight: 300;
          line-height: 23px;
          span{
            font-style: italic;
          }
        }
      }
    }
  }
}


.loader-single {
  position : fixed;
  z-index: 9999;
  background: black;
  top : 0;
  left : 0;
  height : 100%;
  width : 100%;
  cursor : wait;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;

  .the-category {
    margin-bottom: 30px;
    color: $legende!important;
    font-family: "LeagueGothic"!important;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;

  }

  .lieu-article{
    color: $legende;
    font-family: 'Freight Big Book';
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.95px;
    line-height: 17px;
    margin-bottom: 0;
  }

  .the-date{
    color: $legende;
    font-family: 'Freight Big Book';
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.75px;
    line-height: 20px;
  }
  .article-title{
    height: auto;
    font-family: 'Freight Big Book';
    color: $legende;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1.9px;
    line-height: 20px;
    @media (min-width: 768px){
      .normal-title{
        font-size: 28px!important;}
      }

      span{
        font-style: italic;
      }
    }
  }


/************************* PAGE CATEGORY ********************************/

.container-category{
  padding-top: 150px!important;
}
@media (min-width: 768px){
  margin: 5vh 10% 0 10%!important;
}

.category-header{
   margin-left: 10%;
  .the-category-title{
    font-family: "LeagueGothic";
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 400;
    line-height: 35px;
  }
  p{
    font-family: 'Freight Big Book';
    font-style: italic;
    width: 65%;
    font-size: 33px;
    font-weight: 300;
    letter-spacing: 1.65px;
    line-height: 40px;
    text-align: justify;
  }
}


.category-area{
  margin: 15vh 10%!important;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .category-and-date{
    margin-top: 0.5em;
    display: flex;
    .the-category{
      margin-top: 0;
      display: flex;
      align-items: center;
      width: 50%;
      ul{
        margin-bottom: 0;
      }
    }
    .the-date{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
      p{
        margin-bottom: 0;
      }
    }
  }


  .row-category{
    display: flex;
    .thumbnail-category, .right-part-category-vertical, .right-part-category-horizontal{
      padding: 5px;
    }
  }
  .title-and-sentence{
    width: 100%;
  }
  .normal-title{
    font-weight: normal;
    transition: font-weight .2s ease-in-out;
  }
  .normal-title:hover{
    // font-weight: bold;
    // transition: font-weight .2s ease-in-out;
    cursor: pointer;
  }
  .normal-title span{
    font-style: italic!important;
  }
}

.category-area:nth-child(4n+1){
  // height: 80vh;
  align-items: center;
  .row-category{
    .right-part-category-horizontal{
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      p{
        margin-bottom: 0!important;
      }
    }
  }
  .thumbnail-category{
    width: 40%;
    img{
      width: 100%;
      object-fit: cover;
      height: auto;
      // max-height: 70vh;
    }
  }
  .right-part-category-horizontal img{
    height: auto;
    max-width: 100%;
    max-height: 60vh;
    object-fit: cover;
  }
  .title-and-sentence-bottom, .title-and-sentence-left, .right-part-category-vertical, .third-part-horizontal{
    display: none!important;
  }
}

.category-area:nth-child(4n+2){
  .row-category{
    height: auto;
    display: flex;
    justify-content: center;
  }
  .thumbnail-category, .right-part-category-vertical{
    width: 45%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .title-and-sentence, .title-and-sentence-left, .right-part-category-horizontal{
    display: none;
  }
  .row-bottom{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    .title-and-sentence-bottom{
      width: 90%;
    }
  }
}

.category-area:nth-child(4n+3){
  .row-category{
    justify-content: center;
  }
  .thumbnail-category, .first-part-horizontal{
    display: none;
  }
  .title-and-sentence-bottom, .title-and-sentence-left, .right-part-category-vertical{
    display: none;
  }
  .category-and-date{
    width: 100%;
    margin-right: 0;
  }
  .right-part-category-horizontal{
    width: 90%;
  }

  .third-part-horizontal .title-and-sentence{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .paragraphe-italique p{
      text-align: right;
    }
    .category-and-date{
      .the-date{
        justify-content: flex-start!important;
      }
      @media (min-width: 768px){
        .the-category{
          justify-content: flex-end!important;
        }
      }

    }
  }
  .thumbnail-right img{
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
  }
}

.category-area:nth-child(4n){
  .row-category{
    justify-content: flex-end;
    width: 95%;
  }

  .title-and-sentence, .title-and-sentence-bottom, .right-part-category-horizontal{
    display:none;
  }

  .thumbnail-category, .right-part-category-vertical{
    width: 45%;
  }

  .thumbnail-category{
    display: flex;
    flex-direction: column;
    img{
      width: 80%;
      height: auto;
      float: right;
    }
    .title-and-sentence-left{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      a{
        position: relative;
        height: 45px;
        width: 100%;
        .article-title{
          position: absolute;
          right: 0;
          left: -55px;
          display: flex;
          justify-content: flex-end;
        }
      }
      .category-and-date{
        width: 80%;
        @media (min-width: 768px){
         .the-category{
          justify-content: flex-end!important;
        }
      }

      .the-date{
        justify-content: flex-start!important;
      }
    }
    .normal-title{
      text-align: right;
    }
    .paragraphe-italique{
      width: 85%;
      p{
        text-align: right;
      }
    }
  }
}
.right-part-category-vertical img{
  width: 100%;
  height: auto;
}

}

/******************************** EDITO *********************************/
@media (min-width: 768px){
  .edit{
  padding-top: 10vh;
}
.container-edito{
  margin-top: 10vh!important;
  }
}


.container-edito{
  margin-top: 10vh;
  margin-bottom: 10vh;
  .edito-title{
    font-family: "LeagueGothic";
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    padding-left: 15px;
  }
  .edito-sous-titre{
    font-family: 'Freight Big Book';
    font-size: 31px;
    font-weight: 300;
    letter-spacing: 1.55px;
    line-height: 38px;
    margin-top: 1em;
    margin-bottom: 2em;
    padding-left: 15px;
    // padding-right: 15px;
  }
  // .edito-sous-titre-dyptique{
  //   margin-top: 2em!important;
  // }

  // .edito-sous-titre-pano{
  //   padding-top: 0!important;
  // }
  .edito-right{
    text-align: justify;
  }
  .edito-left{
    display: flex;
    // align-items: center;
    justify-content: flex-end;
    .legende-anglais{
      width: 40%;
      text-align: right;
      // margin-top: 70px;
    }
  }
  .dyptique-edito-left{
    display: flex;
    // align-items: flex-start;
    justify-content: flex-end;
    .legende-anglais{
      width: 40%;
      text-align: right;
    }
  }
}

@media (min-width: 768px){
  .bloc-panoramique-edito{
  height: 100vh!important;
}
}


.container-dyptique-edito{
  background-color: #fff;
  // padding-top: 15vh;
  // padding-bottom: 15vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
      // position: relative;
    // left: -65px;
    // width: 115%;
    height: 120vh;
    .row-dyptique-edito{
      position: absolute;
      left: 0;
      right: 0;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 15vh 15%;
      img{
        padding: 5px;
        height: auto;
        width: 50%;
        object-fit: cover;
      }

    }
    .legende-sous-dyptique{
      font-family: "Freight Text";
      font-size: 11px;
      letter-spacing: 0.55px;
      line-height: 13px;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      p{
        text-align: right;
        padding-right: 5px;
      }
    }


  }
  .contact-edito{
    border-top: 1px solid #000;
  }

/*********************** MENTIONS LEGALES **************************/
.container-mentions{
  margin: 0 20%;
  padding: 10vh 0;
  .titre-page{
    margin-bottom: 20px;
  }
  .propriete{
    font-family: 'Freight Big Book';
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.38px;
    line-height: 25px;
  }
  .proprietaire{
    font-family: Freight;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.35px;
    line-height: 23px;
  }
  .row-infos{
    margin-top: 2em;
  }
  .sous-titre-mentions{
    font-family: "Freight Text";
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.33px;
    line-height: 21px;
  }
  .sous-titre-plan{
    margin-bottom: 0;
  }
  .mentions-name{
    font-family: "LeagueGothic";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .mentions-adress p{
    font-family: "Freight Text";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 21px;
  }
}
.plan-du-site{
  font-family: "LeagueGothic";
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.85px;
  line-height: 36px;
  text-transform: uppercase;
}

.sous-titre-plan-du-site{
  width: 20%;
  font-family: "Freight Text";
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.38px;
  line-height: 21px;
}

//GALERIE IMAGE

.chocolat-overlay{
  background-color: #000!important;
  opacity: 0.9!important;
}

@media (min-width: 768px){
  .chocolat-wrapper .chocolat-right{
    right: 0px!important;
    height: 48vh!important;
  }
}



.chocolat-wrapper .chocolat-left{
  left: 25px!important;
}

.chocolat-wrapper .chocolat-bottom{
  background: transparent!important;
  // height: 80px!important;
  // padding-left: 16%!important;
}

.chocolat-wrapper .chocolat-set-title{
  border-right: none!important;
  color: #fbfbfb;
  font-family: 'Freight Big Book';
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.9px;
  line-height: 20px;
}

.chocolat-wrapper .chocolat-set-category{
  padding-right: 15px;
  padding-left: 65px;
  color: #fbfbfb;
  font-family: "LeagueGothic";
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;;
}

.chocolat-wrapper .chocolat-pagination{
  color: #fff;
  font-family: "LeagueGothic";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  float: left!important;
  padding-top: 0px;
}

.chocolat-wrapper .chocolat-right{
  width: 33%!important;
}

.chocolat-wrapper .chocolat-bottom .chocolat-description{
  display: flex!important;
  max-width: 50%;
  p{
    color: #fbfbfb;
    font-family: "Freight Text";
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.75px;
    line-height: 14px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 0;
    text-align: justify;
  }
}

.chocolat-wrapper .chocolat-right .chocolat-description{
  max-width: 250px;
  p{
    color: #fbfbfb;
    font-family: "Freight Text";
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.75px;
    line-height: 14px;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.chocolat-wrapper .chocolat-right.active{
  display: flex!important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}


/********************************* PAGE 404 *****************************/

.background-404{
  background-image: url('../img/404.png')!important;
  width: 100vw;
  height: 100vh;
  margin-bottom: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
  .content-404{
    color: $legende;
    font-size: 20px;
    font-style: italic;
    font-family: 'Freight Text';
    width: 227px;
    text-align: center;
  }
  .button-404{
    color: $legende!important;
    border-color: $legende!important;
    width: 144px;
    padding: 7px 6px!important;
  }
  .button-404:hover{
    background-color: $legende!important;
    color: #000!important;

  }
}


/***************************** EDITION PAGE D'ATTENTE ***************************/


.background-edition{
  background-image: url('../img/edition.png')!important;
  width: 100vw;
  height: 100vh;
  margin-bottom: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
  .content-edition{
    color: #000;
    font-size: 18px;
    font-style: italic;
    font-family: 'Freight Text';
    width: 360px;
    text-align: center;
  }
  .button-edition{
    width: 168px;
    padding: 7px 6px!important;
  }

}

#counterLayout{
  transform: rotate(90deg);
  display: inline-block;
  font-size: 14px;
  font-family: 'Freight Big Book';
  padding-left: 5px;
}


// BANNER

.banner{
  padding: 2px!important;
  // padding-top: 6px!important;
  background-color: #000;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  a{
    cursor: pointer;
    p{
      font-style: normal!important;
      font-family: "LeagueGothic";
      color: #fff!important;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 0.85px;
      display: flex;
      span{
        text-transform: lowercase!important;
        font-family: 'Freight Text'!important;
        font-size: 10px;
        font-style: italic;
        align-self: center;
        display: inline-block;
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 768px){
  .banner{
    a{
      p{
        span{
          margin-left: 15px!important;
        }
      }
    }
  }
}


.banner a:hover{
  // font-weight: bolder;
  span{
    text-decoration: underline;
    font-weight: normal;
  }
}


.container-with-banner{
  margin-top: 28px;

}

#container-with-banner{
  transition-property: all;
  transition-duration: .2s;
  position: relative;

}

.pum-theme-109 .pum-container p, .pum-theme-hello-box .pum-container p{
  margin: 0!important;
}

#popmake-997{
  bottom: 0!important;
  min-height: 50px;
  margin-bottom: 0!important;
}



