@charset "UTF-8";
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local("Avenir"), url("../fonts/AvenirLTStd-Book.otf") format("opentype"); }

@font-face {
  font-family: 'Freight Big Book Italic';
  font-style: italic;
  font-weight: normal;
  src: local("Freight Big Book Italic"), url("../fonts/Freight-Big-Book-Italic.otf") format("opentype"); }

@font-face {
  font-family: 'Freight Big Book';
  font-style: normal;
  font-weight: normal;
  src: local("Freight Big Book"), url("../fonts/Freight-Big-Book.otf") format("opentype"); }

@font-face {
  font-family: 'Freight Text Bold';
  font-style: normal;
  font-weight: bold;
  src: local("Freight Text Bold"), url("../fonts/FreightTextBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Freight Text Bold Italic';
  font-style: italic;
  font-weight: bold;
  src: local("Freight Text Bold Italic"), url("../fonts/FreightTextBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Freight Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Freight Text Medium"), url("../fonts/FreightTextMedium.ttf") format("truetype"); }

@font-face {
  font-family: 'Freight Text Medium Italic';
  font-style: italic;
  font-weight: normal;
  src: local("Freight Text Medium Italic"), url("../fonts/FreightTextMediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'LeagueGothic';
  font-style: normal;
  font-weight: normal;
  src: local("LeagueGothic"), url("../fonts/LeagueGothic.otf") format("opentype"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (max-width: 767px) {
  .xs-visible {
    display: block !important; }
  .xs-invisible {
    display: none !important; }
  .container-header {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .container-header .navbar {
    width: 100% !important; }
  .container-header .navbar .navbar-search {
    width: 5%; }
  .container-header .navbar .navbar-search .recherche-img {
    width: 100%; }
  .container-header .navbar .navbar-brand {
    width: 70%;
    display: flex !important;
    justify-content: center;
    margin: 0; }
  .container-header .navbar .navbar-brand .logo {
    width: 60%; }
  .container-header .navbar #bs4navbar {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-bottom: none !important; }
  .container-header .navbar #bs4navbar #menu-menu-principal {
    margin-top: 10%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 70% !important;
    margin-left: 15%; }
  .container-header .navbar #bs4navbar #menu-menu-principal .menu-item a img {
    display: none; }
  .navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu-mobile.svg") !important; }
  .navbar-light .navbar-toggler {
    border: none !important;
    padding: 0 !important;
    font-size: 1em !important;
    z-index: 99; }
  .navbar-light .navbar-toggler-icon-close {
    background-image: url("../img/croix.svg") !important;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%; }
  .article-header .chapeau p {
    margin-bottom: 0; }
  .article-header .article-title {
    flex-direction: column-reverse;
    align-items: flex-start !important; }
  .article-header .article-title p {
    margin-top: 0;
    margin-bottom: 30vh !important; }
  .article-header .article-title h1 {
    font-size: 36px;
    line-height: 29px; }
  .article-header .row-article {
    margin-top: 10px !important; }
  .article-header .row-article .button-english {
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-family: 'Freight Text Medium';
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.9px;
    line-height: 23px;
    text-transform: uppercase;
    color: #626262;
    cursor: pointer;
    margin-bottom: 10px; }
  .article-header .row-article .button-english:hover {
    font-weight: bold; }
  .article-header .row-article .article-anglais {
    display: none; } }

/********************* PROGRESS BAR *****************************/
@media (min-width: 1800px) {
  #progress {
    left: 65px; } }

/********************* PROGRESS BAR *****************************/
#progress {
  background-color: black;
  height: 3px;
  width: 0;
  position: fixed;
  top: 47px;
  left: 60px;
  z-index: 9999;
  /* Peut être important si vous avez un menu en position fixe */ }

/********************* HEADER *****************************/
.container-header {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #fff;
  z-index: 99; }

.container-header .navbar {
  width: 98%;
  z-index: 99;
  padding-bottom: 0 !important; }

.container-header .navbar #bs4navbar {
  border-bottom: 0.5px solid black;
  font-size: 1em;
  font-family: 'LeagueGothic'; }

.container-header .navbar #bs4navbar #menu-menu-principal {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item-object-custom {
  width: 50%; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item-object-custom a {
  position: absolute;
  left: 45%; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item {
  text-transform: uppercase; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item a {
  color: black;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item a .dashicons-search {
  line-height: 1.6; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item a img {
  height: 20px; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item a:hover, .container-header .navbar #bs4navbar #menu-menu-principal .menu-item .active {
  text-decoration: underline; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item .active {
  text-decoration-color: #a2a2a2; }

div#wpcs_tab_84 {
  top: 65px !important;
  left: -53px !important;
  font-family: 'Freight Text Medium Italic';
  font-size: 12px !important;
  text-transform: uppercase;
  background: transparent !important;
  border: none !important; }

.sidebar-contact {
  position: fixed;
  width: 3%;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 99; }

.sidebar-contact .contact {
  transform: rotate(270deg);
  font-family: 'Freight Text Medium Italic';
  position: absolute;
  top: 80px;
  text-transform: uppercase;
  font-size: 12px; }

.sidebar-contact .nomades-prez {
  transform: rotate(270deg);
  font-family: 'Freight Text Medium Italic';
  position: absolute;
  top: 50vh;
  font-size: 12px;
  width: 30vw;
  left: -13vw; }

.sidebar-contact .nomades-prez span {
  font-family: 'Freight Text Bold'; }

.sidebar-recherche {
  position: fixed;
  width: 3%;
  height: 100vh;
  right: 0;
  top: 0;
  cursor: pointer; }

.sidebar-recherche img {
  width: 18px; }

.sidebar-recherche .recherche {
  transform: rotate(270deg);
  font-family: 'Freight Text Medium Italic';
  position: absolute;
  top: 350px;
  font-size: 12px;
  width: 30vw;
  right: -13vw;
  letter-spacing: 0.3px; }

a, a:active, a:visited, a:hover {
  color: black !important;
  text-decoration: none; }

button:focus {
  outline: none !important; }

/********************* FOOTER *****************************/
footer {
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0; }

footer .container-footer {
  display: flex;
  justify-content: center;
  padding-left: 30px; }

footer .container-footer .row-footer {
  margin-left: 2rem;
  margin-right: 1.5rem;
  width: 98%;
  border-top: 2px solid black; }

footer .container-footer .row-footer .footer-brand .footer-left-widget .image {
  max-width: 250px !important; }

footer .container-footer .row-footer .footer-brand img {
  margin-top: 25px;
  margin-bottom: 90px;
  width: 90%; }

footer .container-footer .row-footer .footer-brand .copyright {
  font-family: 'Freight Text Medium';
  font-size: 11px;
  margin-bottom: 0rem; }

footer .container-footer .row-footer .footer-brand .subphrase-footer {
  font-family: 'Freight Text Medium Italic';
  font-size: 10px; }

footer .container-footer .row-footer .footer-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column; }

footer .container-footer .row-footer .footer-right .right-footer-widget {
  width: 60%;
  float: right; }

footer .container-footer .row-footer .footer-right .right-footer-widget .footer-right-widget {
  width: 100%; }

footer .container-footer .row-footer .footer-right .right-footer-widget .footer-right-widget #menu-menu-footer {
  font-family: 'LeagueGothic';
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  font-size: 16px; }

footer .container-footer .row-footer .footer-right .right-footer-widget .footer-right-widget #menu-menu-footer .menu-item a img {
  width: auto;
  height: 16px; }

.newsletter-area {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-family: 'Freight Text Medium Italic';
  font-size: 12px;
  letter-spacing: 0.3px; }

.title-newsletter {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
  text-align: right; }

.sub-title-newsletter {
  line-height: 20px;
  margin: 0;
  width: 153px;
  text-align: right; }

.button-newsletter {
  width: 100px;
  padding: 6px 10px;
  color: #000;
  background-color: transparent;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.4285;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
  border: 1px solid #000;
  border-radius: 0px;
  font-family: 'Avenir';
  letter-spacing: 1.8px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out; }

.button-newsletter:hover {
  background-color: black;
  color: #fff; }

.pum-title, .popmake-title {
  font-family: "LeagueGothic" !important;
  margin-bottom: 40px; }

#sib_signup_form_1 .sib-alert-message-success, #sib_signup_form_1 .sib-alert-message-warning, #sib_signup_form_1 .sib-alert-message-error {
  position: absolute;
  background-color: white !important;
  border: none !important;
  color: black !important;
  font-family: 'Freight Text Medium Italic'; }

@media (max-width: 767.98px) {
  .pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122 {
    width: 100% !important; }
  .pum-theme-116 #popmake-112, .pum-theme-custom #popmake-112 {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
    width: 100% !important; }
  .popmake-title, .pum-title {
    margin-bottom: 35% !important;
    margin-top: 10%; }
  #sib_signup_form_1 .checkboxes {
    margin: 10% 0 30% 0 !important; }
  #sib_signup_form_1 .sib-alert-message {
    padding: 30% 0px 60% !important;
    text-align: center;
    width: 100%; } }

@media (min-width: 992px) and (max-width: 1799.98px) {
  #sib_signup_form_1 .sib-alert-message {
    padding: 30% 12px 45% 12px !important;
    text-align: center;
    width: 100%; }
  .pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122 {
    width: 25% !important; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122 {
    width: 40% !important; }
  .pum-theme-116 #popmake-112, .pum-theme-custom #popmake-112 {
    top: 25% !important;
    width: 30% !important; }
  #sib_signup_form_1 .sib-alert-message {
    padding: 11% 12px 30% !important;
    text-align: center;
    width: 100%;
    /* left: 100px; */
    display: flex;
    justify-content: center; } }

@media (min-width: 1800px) {
  .pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122 {
    width: 18% !important; }
  .pum-theme-116 #popmake-112, .pum-theme-custom #popmake-112 {
    top: 25% !important;
    width: 30% !important; }
  #sib_signup_form_1 .sib-alert-message {
    padding: 30% 12px 45% 12px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%; } }

.pum-theme-custom #popmake-122, .pum-theme-116 #popmake-122 {
  height: 100% !important;
  top: 0 !important;
  padding: 0px 50px !important;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

#popmake-122 #pum_popup_title_122 {
  display: none; }

#popmake-122 .pum-content {
  display: flex;
  flex-direction: column; }

#popmake-122 .pum-content .intro, #popmake-122 .pum-content .infos-sup, #popmake-122 .pum-content .infos-call {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 17px;
  margin: 0; }

#popmake-122 .pum-content .intro {
  font-family: 'Freight Text Medium';
  text-align: center;
  margin-top: 30px; }

#popmake-122 .pum-content .infos-sup {
  font-family: 'Freight Text Medium Italic';
  text-align: center; }

#popmake-122 .pum-content .infos-call {
  font-family: 'Freight Text Medium Italic'; }

#popmake-122 .pum-content .title-contact {
  margin-top: 20px;
  font-size: 15px;
  font-family: 'LeagueGothic';
  line-height: 35px; }

.custom-select {
  width: 80% !important;
  height: auto !important;
  position: relative;
  font-family: 'Avenir';
  border-radius: 0 !important;
  text-align: center;
  font-size: 9px;
  letter-spacing: 1.8px;
  line-height: 21px !important;
  border: 1px solid black !important;
  padding: 0 !important; }

.custom-select select {
  display: none;
  /*hide original SELECT element:*/ }

.select-selected {
  background-color: white;
  color: #a2a2a2 !important; }

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
  color: #000;
  padding: 0px 0px;
  border: 1px solid transparent;
  cursor: pointer; }

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  text-align: center;
  color: black;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 99;
  font-size: 9px;
  letter-spacing: 1.8px;
  line-height: 21px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none; }

.select-items div {
  border-bottom: 1px solid black;
  margin: 0px 10px; }

.select-items div:last-child {
  border-bottom: 1px solid transparent !important; }

.select-items div:first-child {
  border-top: 1px solid #a2a2a2 !important; }

.select-items div:hover, .same-as-selected {
  background-color: black;
  color: white !important;
  transition: background-color .2s ease-in-out, color .2s ease-in-out; }

#wpcf7-f86-o4 input[type=text], #wpcf7-f86-o4 input[type=email], #wpcf7-f86-o4 input[type=text]:focus, #wpcf7-f86-o4 input[type=email]:focus {
  display: inline;
  width: 80%;
  border-bottom: 1px dotted #bbb;
  border-top: none;
  border-left: none;
  border-right: none;
  height: auto;
  margin: 5px 0 0 0;
  background-color: transparent;
  float: right;
  outline: none;
  line-height: normal;
  font-family: 'Freight Text Medium';
  font-size: 14px;
  letter-spacing: 0.35px; }

#wpcf7-f86-o4 p {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-end; }

#wpcf7-f86-o4 label {
  display: inline;
  width: 20%;
  font-family: 'Freight Text Medium Italic';
  font-size: 12px;
  line-height: 0;
  margin-bottom: 0; }

.your-message {
  width: 100%; }

#wpcf7-f86-o4 textarea {
  width: 100%;
  height: 25vh;
  margin-top: 20px;
  border: 1px solid black;
  font-family: 'Freight Text Medium';
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 21px; }

#wpcf7-f86-o4 input[type=submit] {
  padding: 6px 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-size: 9px;
  font-weight: 300;
  line-height: 1.4285;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  border: 1px solid #000;
  border-radius: 0px;
  font-family: 'Avenir';
  font-size: 9px;
  letter-spacing: 1.8px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out; }

#wpcf7-f86-o4 input[type=submit]:hover {
  background-color: #fff;
  color: #000; }

.form-inputs {
  margin-top: 20px;
  margin-bottom: 10px; }

div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 40vh 5%;
  text-align: center;
  border: none !important;
  position: absolute;
  font-family: 'Freight Text Medium Italic';
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  background-color: white;
  color: black;
  height: 100%; }

/*
* FONTS FAMILIES
*
* font-family: 'Avenir';
*
* font-family: 'Freight Big Book';
* font-family: 'Freight Big Book Italic';
*
* font-family: 'Freight Text Medium';
* font-family: 'Freight Text Medium Italic';
*
* font-family: 'Freight Text Bold Italic';
* font-family: 'Freight Text Bold';
*
* font-family: 'LeagueGothic';
*/
.xs-visible {
  display: none; }

.xs-invisible {
  display: block; }

.normal-title {
  font-family: "Freight Big Book" !important; }

.italic-title {
  font-family: "Freight Big Book Italic" !important; }

li p {
  margin: 0; }

a:hover, a:active, a:focus, a:visited {
  font-weight: bold;
  text-decoration: none !important; }

/*************** ARTICLE ****************************/
.container-content {
  padding-top: 80px;
  padding-left: 5.5%;
  padding-right: 4%; }

.article-header h2 {
  font-family: 'LeagueGothic';
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase; }

.article-header .chapeau {
  font-family: 'Freight Text Medium Italic';
  font-size: 21px;
  font-weight: 500;
  font-style: italic;
  line-height: 25px;
  padding-left: 0;
  padding-right: 0; }

.article-header .article-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.article-header .article-title h1 {
  font-family: 'Freight Big Book Italic';
  font-size: 58px;
  font-weight: 300;
  line-height: 47px; }

.article-header .article-title h1 span {
  font-family: 'Freight Big Book'; }

.article-header .article-title p {
  font-family: 'Freight Big Book Italic';
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.55px;
  line-height: 24px;
  margin-bottom: .5rem; }

.article-header .image-full-size, .article-header .video-full-size {
  width: 100%;
  position: relative;
  z-index: 1; }

.article-header .image-full-size img, .article-header .video-full-size img {
  width: 100%; }

.article-header .legende-image-full-size {
  position: absolute;
  bottom: 30px;
  width: 25%;
  left: 5%;
  font-family: 'Freight Text Medium Italic';
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px; }

.article-header .plus-upright {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 40px; }

.article-header .row-article {
  margin-top: 25px;
  margin-bottom: 25px; }

.article-header .row-article .legende-sous-image {
  font-family: 'Freight Text Medium Italic';
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.9px;
  line-height: 16px; }

.article-header .row-article .article-francais {
  font-family: 'Freight Text Medium';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.05px;
  line-height: 23px; }

.article-header .row-article .article-anglais {
  font-family: 'Freight Text Medium Italic';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.05px;
  line-height: 21px;
  color: #626262; }
